biopython==1.73
capalyzer==2.16.1
gimmebio==0.8.0
gimmebio.hiveplots==0.5.0
gimmebio.kmers==0.4.8
gimmebio.linked-reads==0.3.0
gimmebio.ram-seq==0.1.1
gimmebio.sample-seqs==0.3.7
gimmebio.seqs==0.5.5
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
matplotlib==3.1.1
matplotlib-venn==0.11.5
microbe-directory==2.2.2
networkx==2.1
numba==0.51.2
numpy==1.18.2
pandas==1.1.5
plotnine==0.6.0
umap-learn==0.4.6
pysam==0.16.0.1
scikit-learn==0.23.2
scikit-misc==0.1.1
scipy==1.4.1
statsmodels==0.11.0
